:root {
    --darkCyan: hsl(158, 36%, 37%); 
    --cream: hsl(30, 38%, 92%);
    --veryDarkBlue: hsl(212, 21%, 14%);
    --darkGrayishBlue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cream);
    height: 600px;
    align-content: center;
}

header {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    min-width: 344px;
    width: 91vw;
    min-height: 300px;
    height: 95%;
    margin-top: 20px;
    padding: 0 0 8vh 0;
    background-color: var(--white);
    border-radius: 10px;
}

h1, h2, section.description, .price {
    padding: 0px 20px;
}

picture {
    width: 100%;
    height: 35vh;
}

picture img {
    width: 100%;
    height: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

header h1 {
    font-family: 'Fraunces', sans-serif;
    font-weight: 700;
    margin: 0.3em 0em 0em 0.2em;
    padding-right: 0.8em;
    width: 80%;
    font-size: 2.2em;
    line-height: 1em;
}

header h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: .9em;
    letter-spacing: .4em;
    text-transform: uppercase;
    color: var(--darkGrayishBlue);
    margin: 1em 1em 0em 0.5em;
}

.content {
    height: 50vh;
}

.description p {
    font-family: 'Montserrat', sans-serif;
    color: var(--darkGrayishBlue);
    font-weight: 500;
    margin: 1em 0.2em 0em 0.5em;
    line-height: 1.6em;
}

.price {
    display: flex;
    align-items: center;
}

.price p {
    font-family: 'Fraunces', sans-serif;
    font-size: 2.3em;
    display: inline-block;
    color: var(--darkCyan);
    margin: 0.5em 0.5em 0em 0.2em;
}

.price p:last-child {
    color: hsl(228, 12%, 48%);
    font-size: 0.9em;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    text-decoration: line-through;
    text-decoration-color:hsla(212, 21%, 14%, 0.5);
}

.content button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: var(--white);
    background-color: var(--darkCyan);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    height: 8vh;
    min-height: 45px;
    border-radius: 10px;
    margin: 1.5em auto auto auto;
    cursor: pointer;
}

.content button:hover {
    background-color: hsl(158, 33%, 22%);
}

footer {
    position: absolute;
    /* position: fixed; */
    margin-top: 175%;
}

@media (min-width: 400px) {    
    main {
        display: flex;
        flex-direction: row;
        padding: 0;
        min-height: 300px;
        max-height: 380px;
        width: 40%;
        min-width: 550px;
        max-width: 700px;
    }

    .image {
        flex: 50%;
    }

    picture {
        height: 100%;
    }

    picture img {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
    }

    .content {
        background-color: var(--white);
        flex: 50%;
        border-top-right-radius: 10px;
    }

    footer {
        margin-top: 500px;
    }
}